$lt-gray: #ddd;
$background-dark: rgb(252, 142, 129);
$background-moredark: rgb(252, 101, 85);
$background-light: lightsalmon;
$background-pale: rgb(252, 220, 207);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.primary-color {
    background: $background-dark;
    color:floralwhite;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: $background-moredark;
}