<div class="container" fxLayout="row" fxLayoutGap="20px">

  <div fxFlex="60">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Join a team</h2>
        </mat-card-title>
      </mat-card-header>

      <!--<mat-card-content>
        <mat-list *ngIf="rooms">
          <div *ngFor="let room of rooms">
            <mat-card>
              <p>{{room.rname}} {{room.currentnum}}/{{room.totalnum}}</p>
            </mat-card>
          </div>
        </mat-list>
      </mat-card-content>-->

      <mat-card-content>
        <mat-list *ngIf="listroom">
          <div *ngFor="let room of listroom">
            <mat-card>
              <p>{{room.rname}} {{room.current_num}}/{{room.total_num}}</p>
              <p>{{room.skills}}</p>
            </mat-card>
          </div>
        </mat-list>
      </mat-card-content>

    </mat-card>
  </div>
  <div fxFlex="40">
    <mat-card>
      <mat-card-content>
        <p>{{user.name}}</p>
        <p>{{user.skill}}</p>
      </mat-card-content>
    </mat-card>
    <a mat-button type="button" (click)="openCreateroomForm()">Create New Team</a>
  </div>

</div>
